.footer {
  clear: both;
  background-color: black;
  height: auto;
}

.about-us,
.location,
.copyright > p {
  color: #fff;
}

.copyright {
  display: flex;
  justify-content: center;
}

.footer-info {
  display: flex;
  padding-top: 5%;
}

.about-us,
.location {
  padding-right: 20px;
}

.location p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 767px) {
  .about-us,
  .location,
  .copyright > p {
    font-size: xx-small;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
